.work-title {
  align-items: center;
  justify-content: center;
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
}
.work-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
}

.work-bubble {
  float: left;
  padding-right: 20px;
  width: 100px;
  height: 100px;
}

.work-title {
  display: block; /* 让标题显示为块级元素，以独占一行 */
  font-weight: bold; /* 可选，加粗标题文字 */
  margin-top: 10px; /* 可选，增加标题和图之间的垂直间距 */
}

.work-description {
  display: block; /* 让描述显示为块级元素，以独占一行 */
  margin-top: 10px; /* 可选，增加图和描述之间的垂直间距 */
}
