<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
         {% for item in page.items %}
         <div class="news-item">       
           <span class="news-description">
             {{ item.description }}
           </span>
         </div>
         {% endfor %}
      </div>
    </div>
    
    

    {% include footer.html %}
    
    {% include foot.html %}
  </body>
</html>
