<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />
          
          {{ content }}
          
          <section class="news mb-5">
            <h2>News</h2>
            <ul class="list-unstyled">
              {% for item in page.news-items %}
              <li class="mb-2">
                <strong>[{{ item.title }}]</strong>
                {% if item.link %}
                  {{ item.description }} <a href="{{ item.link }}">[Link]</a>
                {% else %}
                  {{ item.description }}
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </section> 
          <!-- Publications 区域 -->
          <section class="publications">
            <h2>Publications</h2>
            {% for item in page.publication-items %}
            <div class="publication-item">
              <div class="publication-image">
                <img src="{{ item.image }}" alt="Publication Image">
              </div>
              <div class="publication-info">
                <h3><a href="{{ item.pdf_url }}" class="paper-title">{{ item.title }}</a></h3>
                <p class="authors">{{ item.authors | replace: 'Yang Liu', '<strong>Yang Liu</strong>' | safe }}</p>
                <p class="venue">{{ item.venue }}, {{ item.year }}</p>
                <div class="buttons">
                  <a href="{{ item.pdf_url }}" class="btn btn-primary">PDF</a>
                  <a href="{{ item.code_url }}" class="btn btn-secondary">Code</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </section>

        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>

