<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />
          
          {{ content }}
          
          <section class="news mb-5">
            <h2>News</h2>
            <ul class="list-unstyled">
              {% for item in page.news-items %}
              <li class="mb-2">
                <strong>{{ item.title }}</strong> —
                {% if item.link %}
                  {{ item.description }} <a href="{{ item.link }}">[Link]</a>
                {% else %}
                  {{ item.description }}
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </section>     
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>

